@import "../_vars.sass" 
.topbar
    background-color: $topbar-backColor
    &__inner
        display: flex
    &__item
        padding: 14px 0
        text-decoration: none
        color: $topbar-textColor
        display: block
        transition: color .2s ease-in-out
        &:hover
            text-decoration: none
            color: $topbar-textHover
        &:visited
            color: $topbar-textColor
            text-decoration: none
        &:focus
            outline: none
            color: $topbar-textColor
            text-decoration: none
.location

    &__auto
        margin-top: 14px
    &__location

    &__content
        padding: 33px 33px 0
    &__header
        padding: 0
    &__title
        font-size: 24px
        margin-bottom: 12px
    &__body
        padding: 0
    &__subtitle
        margin-top: 18px
        color: #888
    &__list
        list-style: none
        margin-bottom: 32px
    &__item
        margin: 7px 0
    

    &__footer
        padding: 16px 0
    &__action
        font-size: 13px
        &:hover,&:focus
            text-decoration: none